@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Leaflet precisa de altura explícita no container */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}
